.hero{
    position: relative;
}

.hero-image{
    position: relative;
}
.hero-image img{
    width: 100%;
    height: 290px;
    object-fit: cover;
    object-position: center;
}
.hero-overlay{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    background: linear-gradient(to right,
        rgba(10,10,10,0.75) 0%,
        rgba(10,10,10,0.60) 28%,
        rgba(10,10,10,0.25) 42%,
        rgba(10,10,10,0.08) 52%,
        rgba(10,10,10,0) 62%
    );
}
.hero-content{
    color: white;
    max-width: 430px;
}
.hero-content h1{
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 5px;
}
.hero-content span{
    color: #5cb85c;
}
.hero-content p{
    font-size: 18px;
    margin-bottom: 20px;
}
.hero-content button{
    margin-bottom: 18px;
}